body {
    margin: 0;
    padding: 0;
    background-color: #dedede;
    width: 440px;
}

.item {
    transition: transform 0.2s ease-in-out;
}
  
.dragging {
    transform: scale(1.50);
    background-color: green;
}

.item.drag-over {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.item.transitioning {
    transition: transform 0.3s;
}

.above {
    border-top: 2px solid gray; /* Adicione um estilo visual para indicar a posição acima */
}

.item-container {
    position: relative;
}

.absolute {
    position: absolute;
}

.ghost {
    opacity: .5;
    background: rgb(204, 0, 187);
}

.chosen {
    color: #fff;
    background-color: rgb(204, 0, 187);
    transform: scale(1.1);
}

.list-group-item {
    transition: all .5s;
    cursor: move;
}