body {
    margin: 0;
    padding: 0;
    background-color: #dedede;
    width: 440px;
}

.item {
    transition: transform 0.2s ease-in-out;
}
  
.item.dragging {
    transition: none; /* Desabilita a transição enquanto está sendo arrastado */
}

.ghost {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    /* Adicione estilos de aparência semelhante ao item arrastado */
}

.item-container {
    position: relative;
}

.absolute {
    position: absolute;
}